@charset "UTF-8";

/* 이미지 게시판 제목을 2줄만 표시하고 말줄임 표로 사용 */
.title{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
 }
 .imageLink:hover {
	opacity: 70%;
	cursor: pointer;
}
.boardLink:hover {
	background: #eee;
	cursor: pointer;
}
.module{
	padding: 15px 7px;
}