<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.board.mapper.BoardMapper">
  
  <select id="list" resultType="org.zerock.board.vo.BoardVO">
  select no,title,writer,writeDate,hit
	 from(
	  select rownum rnum,no,title,writer,writeDate,hit
		  from(
		    SELECT no,title,writer,writeDate,hit FROM board order by no desc
		    )
	    ) where rnum between #{startRow} and #{endRow}
  </select>
  <!-- 일반게시판 상세보기 -->
  <select id="view" resultType="org.zerock.board.vo.BoardVO">
  	select no,title,content,writer,writeDate,hit from board where no = #{no}
  </select>
  <!-- 일반게시판 조회수 증가 -->
  <update id="inc">
	update board set hit = hit + 1 where no = #{no}
  </update>
  <!-- 일반게시판 글등록 -->
  <insert id="write">
  	insert into board(no,title,content,writer,pw)
  	values(board_seq.nextval,#{title},#{content},#{writer},#{pw})
  </insert>
</mapper>